.newmatch-form-container {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.newmatch-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 30px;
	border-radius: 40px;
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.when-group,
.where-group {
	width: 100%;
}

.modal-newmatch {
	.modal-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.match-row {
			width: 100%;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.match-date {
				font-weight: bold;
			}
			.match-manage-btns {
				display: flex;
				gap: 5px;

				.confirm-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 40px;
					min-height: 40px;
					max-width: 40px;
					max-height: 40px;
				}
			}
		}
	}

	.modal-footer {
		justify-content: space-between;
	}
}
