.navbar {
	min-height: 60px;
	padding: 0;
}

.navbar-brand {
	padding: 0;
	min-height: 60px;
	display: flex;
	align-items: center;
}
.logo {
	height: 40px;
}

/*	USANDO INVECE .navbar-collapse:not(.show) .navbar-nav LE ICONE SI ALLINEANO A SX QUANDO LA
	NAVBAR È VISIBILE (UNCOLLAPSED) */
.navbar-nav {
	margin-left: 20px;
	align-items: center;
}

.navbar-collapse:not(.show) .nav-link + .nav-link {
	margin-left: 20px;
}
/*	ATTIVANDOLO NON SI VISUALIZZANO LE ICONE SU SCHERMO PICCOLO CON NAVBAR VISIBILE (UNCOLLAPSED) */
/* .navbar-collapse:is(.show) svg {
	display: none;
} */

.navbar-nav .label {
	margin-left: 8px;
	text-transform: uppercase;
}
